<div class="card card-outline-secondary  cardd-body center">
                     <div class="card-header">
                         <h3 class="mb-0">Password Reset</h3>
                     </div>
                     <div class="card-body">
                         <form [formGroup]="pass" (ngSubmit)="onSubmit()"class="form" role="form" autocomplete="off">
                             <div class="form-group">
                                 <label for="inputResetPasswordEmail">Email</label>
                                 <input type="email" class="form-control" id="inputResetPasswordEmail" required="">
                                 <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                         Password reset instructions will be sent to this email address.
                                     </span>
                             </div>
                             <div class="form-group">
                               <button type="submit" class="btn btn-primary btn-lg float-right">Reset</button>
                              <a (click) = "onBack()" class="btn btn-link btn-lg butb">Back</a>
                             </div>
                         </form>
                     </div>
                 </div>
