<h1 mat-dialog-title>What is an Family Income?</h1>

<mat-dialog-content>

<p>
  Total compensation received by all family members age 15 or older living in the same household. Compensation may include wages, social security, child support, pensions capital gains, and dividends.


</p>
</mat-dialog-content>

<h1 mat-dialog-title>What Is a Term Loan?</h1>

<mat-dialog-content>

<p>

A term loan is a loan from a bank for a specific amount that has a specified repayment schedule and either a fixed or floating interest rate. A term loan is often appropriate for an established small business with sound financial statements. Also, a term loan may require a substantial down payment to reduce the payment amounts and the total cost of the loan.</p>
</mat-dialog-content>
