
<!-- Posts section -->


<div class="verify" >


  <h1 class="text-center">Hi {{currentUser.firstName}}!</h1>



 <div class="container">
 <br><h2 class="text-center">Verification</h2>
 <br>
  <div class="row">
   <div class="col-md-4 col-lg-4 col-sm-">
    <div class="card">
     <div class="card-img">
      <img src="" class="img-fluid">
     </div>

     <div class="card-body">
     <h2 class="card-title">Passport Details</h2>

     </div>

     <div class="card-footer ">
       <button type="button" routerLink="/passport" class="btn btn-primary ">Verify Passport Details</button>
     </div>
    </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
     <div class="card-img">
      <img src="" class="img-fluid">
     </div>

     <div class="card-body">
        <h2 class="card-title">Address</h2>

     </div>
     <div class="card-footer">
       <button type="button" routerLink="/address" class="btn btn-primary">Verify Address</button>

     </div>
    </div>
   </div>
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card">
     <div class="card-img">
      <img src="" class="img-fluid">
     </div>

     <div class="card-body">
     <h2 class="card-title">Selfi Photo</h2>

   </div>
     <div class="card-footer">
       <button type="button" routerLink="/selfiphoto" class="btn btn-primary">Verify Selfi</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<br>
<br>
<button type="button" routerLink="/statistics" class="btn btn-primary">Statistics</button>

<!-- <h1>Hi {{currentUser.firstName}}!</h1>

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.email}} {{user.number}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
