
<!-- Posts section -->




  <h1 class="text-center">Hi {{currentUser.firstName}}!</h1>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="First">
    <mat-vertical-stepper>
      <mat-step>
        <ng-template matStepLabel>Foreign tax identifying numbe</ng-template>
        <mat-form-field>
          <input matInput placeholder="ITIN/FTIN/SNN" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out your Surname</ng-template>
        <mat-form-field>
          <input matInput placeholder="Surname" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-tab>
  <mat-tab label="Second">
    <mat-vertical-stepper>
      <mat-step>
        <ng-template matStepLabel>Fill out your Name</ng-template>
        <mat-form-field>
          <input matInput placeholder="First Name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out your Surname</ng-template>
        <mat-form-field>
          <input matInput placeholder="Surname" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<button type="button" routerLink="/statistics" class="btn btn-primary">Statistics</button>

<!-- <h1>Hi {{currentUser.firstName}}!</h1>

<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.email}} {{user.number}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
