<div class="row">

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="example-ripple-container mat-elevation-z4 inputStart" routerLink="/nextstep"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
      <button mat-button color="warn" routerLink="/nextstep">Start validation</button>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="example-ripple-container mat-elevation-z4 inputStart "routerLink="/doc-module"
       matRipple
       [matRippleCentered]="centered"
       [matRippleDisabled]="disabled"
       [matRippleUnbounded]="unbounded"
       [matRippleRadius]="radius"
       [matRippleColor]="color">
  Open DOCS

</div>
</div>
</div>
