<h1 mat-dialog-title>What Is an Individual Taxpayer Identification Number (ITIN)?</h1>

<mat-dialog-content>

<p>
  Like an SSN, an ITIN number is nine digits in the format xxx-xx-xxx. But the first digit will always be a 9, and the second section of the number will be in the range of 70-88 (e.g., 9xx-88-xxxx). As of 2012, the IRS had issued 21 million ITINs to taxpayers and their dependents.

  To obtain an ITIN, an alien with foreign status should complete Form W-7, Application for IRS Individual Taxpayer Identification Number. No one should have both an ITIN and an SSN. For example, if an SSN application is pending, an ITIN will not be issued even if the individual completes and submits a Form W-7.
</p>
</mat-dialog-content>


<h1 mat-dialog-title>What Is an Foreign Tax Identifying Number (FTIN)?</h1>

<mat-dialog-content>

<p>
  A foreign person that is an account holder of a financial account held at a U.S. office of a financial institution (including a U.S. branch of a foreign financial institution) must provide the Foreign Taxpayer Identification Number (FTIN) issued to it by its jurisdiction of tax residence.
  An FTIN is a taxpayer identification number issued by a country other than the United States. If a foreign person does not provide its FTIN, it must provide the withholding agent with an explanation of why an FTIN has not been provided.
  If you have not provided an FTIN on the applicable Form W-8 (or in a written statement that accompanies the Form W-8), please complete Sections I, II or III, and IV below. Note that this form is required from individuals and/or entities that are account holders of a financial account and will be considered associated with the Form W-8 it accompanies or currently on file with Citi.
</p>
</mat-dialog-content>


<h1 mat-dialog-title>What Is a Social Security Number (SSN)?</h1>

<mat-dialog-content>
  <p> An SSN is a Social Security Number. SSNs are nine digits (xxx-xx-xxxx) and belong to US citizens and authorized residents.

Individuals who are employed and receive wages must have an SSN or apply for one. Every employer who sets up payroll and pays an individual wages must request the employee's SSN and report the employee's wages using that number. Parents must also obtain an SSN for any child that the parent(s) claim on an income tax return.

SSNs are issued by the Social Security Administration (SSA), and anyone who is eligible to have an SSN may apply for one by completing an application known as the Form SS-5. Any taxpayer with an SSN must use the SSN as an identifying number on their tax returns.</p>


</mat-dialog-content>
  <button mat-button mat-dialog-close>cancel</button>
